{% extends "documentation.twig" %}

{% set content %}

        {% for itemId, item in documentation %}
            <h3>{{ item.section }}</h3>

            <ul>
                {% for itemId, item in item.items %}
                    <li class="{{ itemId == current_menu ? 'active' }}">
                        <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.url) }}">
                            {{ item.text|raw }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

{% endset %}
