{% extends "default.twig" %}

{% block content %}
    <div class="home">

        <section class="jumbotron">
            <div class="container">
                <h1>
                    <strong>Stratify</strong>
                </h1>
                <p>
                    Your application, your architecture.
                </p>
                <p>
                    <a href="{{ baseUrl }}/docs/framework/getting-started.html" class="btn btn-lg btn-primary">
                        Get started
                    </a>
                    <a href="{{ baseUrl }}/docs/" class="btn btn-lg btn-default">
                        Documentation
                    </a>
                </p>
            </div>
        </section>

        <section class="odd">
            <div class='container'>

                <h2>Middlewares</h2>

                <pre><code class="php">function (ServerRequestInterface $request, ResponseInterface $response, callable $next) : ResponseInterface
{
    ...
}</code></pre>

            </div>
        </section>

    </div>

{% endblock %}
